-if !logged_in?
  %div.ui-widget{:style => 'width:75%;margin-top:1.5em; margin-left:auto; margin-right:auto;'}
    %div.ui-state-error.ui-corner-all{:style => 'padding: .7em; font-size:1.2em;'}
      %p<
        %span.ui-icon.ui-icon-alert{:style => 'float: left; margin-right: .3em'}
        %strong< You are not logged in.
      %p<
        You will need to <a href="/login">log in via facebook</a> and authorise us so we may
        access the data we need to operate this site for you.
      %p<
        Please see our
        %a{:href => '/privacy', :title => "Privacy Policy"}Privacy Policy
        for more details concerning the information we pull from Facebook and how we use it.
-else
  %h2 #{t.ui.greeting(UnicodeUtils::titlecase(active_user.name))}
  %h3 The five most recent recipes.
  %ul
  -latest_recipes = Recipe.find(:all, :order => "id desc", :limit => 5)
  -for r in latest_recipes
    <!-- #{r.inspect} -->
    %li<
      %a(href='/recipe/#{r.id}') #{r.name}
      &nbsp;by #{r.owner.name}
      , serves #{r.serves}
  %button#add-recipe< #{UnicodeUtils::titlecase(t.ui.add_a_recipe)}
  :javascript
    $(document).ready(function() {
      $('#add-recipe').button({icons: {primary:'ui-icon-circle-plus'}}).click(function() {
        location.href = '/create-recipe';
      });
    });
