!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# open-recipe: http://ogp.me/ns/fb/open-recipe#")
    %meta{ :'http-equiv' => "Content-Type", :content => "text/html; charset=UTF-8"}
    - for mt in meta_tags (defined?(recipe)? recipe : nil)
      %meta{ :property => mt[:property], :name => mt[:name], :rel => mt[:rel], :content => mt[:content], :href => mt[:href]}
    %meta{ :property => "fb:admins", :content => "davesag"}
    %meta{ :property => "fb:admins", :content => "amyjeeves"}
    %meta{ :property => "fb:admins", :content => "1578116633"}
    %meta{ :name => "author", :content => "davesag"}
    %meta{ :name => "robots", :content => "none"}
    %meta{ :name => "generator", :content => "Hand crafted by Dave Sag"}
    %meta{ :name => "viewport", :content => "width=760"}
    %meta{ :'http-equiv' => "X-UA-Compatible", :content => "IE=100"}
    %link{ :rel => "Shortcut Icon", :type => "image/x-icon", :href => "favicon.ico"}
    %link{ :rel =>"stylesheet", :type => "text/css", :href => "/css/main.css"}
    -# %link{ :rel =>"stylesheet", :type => "text/css", :href => "/css/main.min.css"}
    %link{ :rel =>"stylesheet", :type => "text/css", :href => "/css/themes/open-recipe-theme/jquery-ui-1.8.23.custom.css"}
    %link{ :rel =>"stylesheet", :type => "text/css", :href => "/css/jquery.dataTables_themeroller.css"}
    %link{ :rel =>"stylesheet", :type => "text/css", :href => "/css/csphotoselector.css"}
    %script{ :src => "/scripts/jquery-1.9.1.min.js" }
    -# %script{ :src => "/scripts/jquery-migrate-1.1.0.min.js" }
    %script{ :src => "/scripts/jquery-ui-1.10.0.custom.min.js" }
    %script{ :src => "/scripts/jquery.dataTables.min.js" }
    %script{ :src => "/scripts/jquery.validate.min.js" }
    /[if lt IE 9] <script src="/scripts/html5shiv.js"></script>
    :javascript
      var debugging = true,
      ERROR_MESSAGES = {
        'server':"#{t.errors.server}"
      };
      if (typeof console == "undefined") var console = { log: function() {} }; 
      else if (!debugging || typeof console.log == "undefined") console.log = function() {};
    %script{ :src => "/scripts/open_recipe_ui_objects.js" }
    %script{ :src => "/scripts/open_recipe_core_jquery.js" }
    -# %script{ :src => "/scripts/open_recipe_core.min.js" }
    %script{ :src => "/scripts/csphotoselector.js" }
    :javascript
      window.fbAsyncInit = function() {
        // init the FB JS SDK
        FB.init({
          appId      : '#{APP_ID}',
          channelUrl : '//#{SITE_HOST}/fb_channel', // Channel File for x-domain communication
          status     : true, // check the login status upon init?
          cookie     : true, // set sessions cookies to allow your server to access the session?
          xfbml      : true,  // parse XFBML tags on this page?
          frictionlessRequests : true // cleaner and faster for the user.
        });
      };

      // Load the SDK's source Asynchronously
      // Note that the debug version is being actively developed and might 
      // contain some type checks that are overly strict. 
      // Please report such bugs using the bugs tool.
      (function(d, debug){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/#{locale_code}/all" + (debug ? "/debug" : "") + ".js";
        ref.parentNode.insertBefore(js, ref);
      }(document, debugging));
    -# if logged_in? && any_tags?
    -# :javascript
    -#   $(function () {
    -#     $.get('/favourite-tags', function(data) {
    -#       // console.log("using data", data);
    -#       var tag, hover_text,
    -#           tag_data = data.tags,
    -#           tags_html = '<h2>#{UnicodeUtils::titlecase(t.ui.tags)}</h2><ul>';
    -#     
    -#       for (i in tag_data) {
    -#         tag = tag_data[i];
    -#         // todo: finish i18n.
    -#         hover_text = (tag.counts.recipes === 0 ? 'No' : tag.counts.recipes) + ' recipe' + (tag.counts.recipes === 1 ? '' : 's') + " " +
    -#                       (tag.counts.meals === 0 ? 'No' : tag.counts.meals) + ' meal' + (tag.counts.meals === 1 ? '' : 's') +  " " +
    -#                       (tag.counts.ingredients === 0 ? 'No' : tag.counts.ingredients) + ' ingredient' + (tag.counts.ingredients === 1 ? '' : 's');
    -#         tags_html = tags_html + '<li><a class="tag" href="#" title="' + hover_text + '">' +
    -#                     tag.name + ' <span class="tag-count">' + tag.count + '</span>';
    -#       }
    -#       tags_html = tags_html + '</a></li>';
    -#       $("#tag-cloud").html(tags_html);
    -#     })
    -#   });
    %title #{settings.name}
  %body
    #fb-root
    #page
      #page-top
        #title
          #header-information
            -if logged_in?
              %div.ui-widget
                %div.ui-state-highlight.ui-corner-all{:style => 'padding:0 .7em'}
                  %p<
                    %span.ui-icon.ui-icon-info{:style => 'float: left; margin-right: .3em'}<
                    #{t.ui.logged_in_as(active_user.name)}
              %div.ui-widget{:style => 'margin-top: 1em'}
                %div.ui-state-highlight.ui-corner-all{:style => 'padding:0 .7em'}
                  %p<
                    %span.ui-icon.ui-icon-search{:style => 'float: left; margin-right: .3em'}<
                      %form#search-form
                        %input#search-field{:type => 'text', :name => 'search', :placeholder => t.ui.search_text, :style => 'width:80%;'}
            -else
              #login-button.fb-login-button(data-show-faces="true" data-width="200" data-max-rows="1")
              %a{:href => "/login"}<
                %img.fb-login{:src => '/images/fb_login_button.png'}
            #nav-bar.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
              %ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all
                - for item in navigation(defined?(recipe)? recipe : nil)
                  - selected = item[:selected]
                  - mods = "ui-state-default ui-corner-top#{selected ? ' ui-tabs-selected ui-state-active' : ''}"
                  %li{:class => mods}<
                    -if !selected
                      %a{:href => item[:href]}= item[:title]
                    -else
                      = item[:title]
          %span#logo-container<
            %img.logo{:width => 128, :height => 157,
                      :src => "/images/Open_Recipe_Logo_128x157.png",
                      :alt => "Open Recipe Logo."}
      #page-content.ui-helper-reset.ui-widget.ui-widget-content.ui-corner-all
        = yield
      - if logged_in? && any_tags?
        #tag-cloud.ui-helper-reset.ui-widget.ui-widget-content.ui-corner-all
      #page-bottom.ui-helper-reset.ui-widget.ui-widget-content.ui-corner-all
        #copyright< ©2013 #{settings.owner}
        #footer-navigation
          %ul
            - if logged_in?
              %li <a href='/logout'>#{UnicodeUtils::titlecase(t.ui.log_out)}</a>
            %li <a href='/privacy'>#{UnicodeUtils::titlecase(t.ui.privacy)}</a>
            %li <a href='/terms'>#{UnicodeUtils::titlecase(t.ui.terms)}</a>
