!!! Basic utf-8
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    %meta{ :'http-equiv' => "Content-Type", :content => "text/html; charset=UTF-8"}/
    %meta{ :property => "og:title", :content => settings.name}/
    %meta{ :property => "og:type", :content => "website"}/
    %meta{ :property => "og:image", :content => "#{settings.owner_website}/images/openrecipe_logo.png"}/
    %meta{ :property => "og:url", :content => settings.owner_website}/
    %meta{ :property => "og:site_name", :content => "#{settings.name} - #{settings.tagline}."}/
    %meta{ :property => "fb:admins", :content => "davesag"}/

    %meta{ :name => "author", :content => "davesag"}/
    %meta{ :name => "robots", :content => "none"}/
    %meta{ :name => "generator", :content => "Hand crafted by Dave Sag"}/
    %meta{ :name => "viewport", :content => "width=760"}/
    %meta{ :'http-equiv' => "X-UA-Compatible", :content => "IE=100"}/
    
    %meta{ :name => "description", :content => settings.description}/
    %meta{ :name => "keywords", :content => settings.keywords}/
    %link{ :rel => "Shortcut Icon", :type => "image/x-icon", :href => "favicon.ico"}
    %link{ :rel => "canonical", :href => settings.owner_website}
    %link{ :rel =>"stylesheet", :type => "text/css",
           :href => "/css/main.css",
           :title => "Placeholder Stylesheet."}
    /[if IE]
      %link{ :rel =>"stylesheet", :type => "text/css",
             :href => "/css/main_ie_overrides.css",
             :title => "Overrides for Internet Explorer."}
    %script{ :src => "../scripts/jquery-1.8.0.min.js" }
    %title #{settings.name}
  %body
    #page-container
      #page
        #page-top.has-logo.has-tagline
          #title
            %span#logo-container<
              %img#logo{:width => 128, :height => 128,
                        :src => "images/openrecipe_logo.png",
                        :alt => "Open Recipe draft Logo."}
            %h1.title<
              %span.in #{settings.name}
            %p#tagline<
              %span.in #{settings.tagline}
          #sitemenu-container
            #sitemenu
              #sitemenu-content
                %ul
                  - count = 1
                  - for item in navigation
                    - selected = item[:selected]
                    - mods = "i#{count} #{count.odd? ? 'o' : 'e'}#{selected ? ' currentPage' : ''}"
                    - count = count + 1
                    %li{:class => mods}<
                      -if !selected
                        %a{:href => item[:href]}
                          %span.in= item[:title]
                      -else
                        %span.in= item[:title]
        #spacer-top.clear.below-page-top
        #page-content
          #main
            #main-top
            #main-content
              = yield
            #main-bottom
        #spacer-bottom.clear.below-content
        #page-bottom
          #page-bottom-contents
            #copyright< ©2012 #{settings.owner}
