!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    %meta{ :'http-equiv' => "Content-Type", :content => "text/html; charset=UTF-8"}
    %meta{ :property => "og:title", :content => settings.name}
    %meta{ :property => "og:type", :content => "website"}
    %meta{ :property => "og:image", :content => "#{settings.owner_website}/images/openrecipe_logo.png"}
    %meta{ :property => "og:url", :content => settings.owner_website}
    %meta{ :property => "og:site_name", :content => "#{settings.name} - #{settings.tagline}."}
    %meta{ :property => "fb:admins", :content => "davesag"}

    %meta{ :name => "author", :content => "davesag"}
    %meta{ :name => "robots", :content => "none"}
    %meta{ :name => "generator", :content => "Hand crafted by Dave Sag"}
    %meta{ :name => "viewport", :content => "width=760"}
    %meta{ :'http-equiv' => "X-UA-Compatible", :content => "IE=100"}
    
    %meta{ :name => "description", :content => settings.description}
    %meta{ :name => "keywords", :content => settings.keywords}
    %link{ :rel => "Shortcut Icon", :type => "image/x-icon", :href => "favicon.ico"}
    %link{ :rel => "canonical", :href => settings.owner_website}
    %link{ :rel =>"stylesheet", :type => "text/css",
           :href => "/css/main.css"}
    %link{ :rel =>"stylesheet", :type => "text/css",
           :href => "/css/themes/open-recipe-theme/jquery-ui-1.8.23.custom.css"}
    %script{ :src => "/scripts/jquery-1.8.0.min.js" }
    %script{ :src => "/scripts/jquery-ui-1.8.23.custom.min.js" }
    :javascript
      $(function () {
        var cache = {}, lastXhr;
        $("#search-field").autocomplete({
          minLength: 2,
          source: function( request, response ) {
            var term = request.term;
            if ( term in cache ) {
              response( cache[ term ] );
              return;
            }
        
            lastXhr = $.getJSON( "/search", request, function( data, status, xhr ) {
              cache[ term ] = data;
              if ( xhr === lastXhr ) {
                response( data );
              }
            });
          },
          select: function (event, ui) {
            console.log (ui.item ?
            "Selected: " + ui.item.value + " aka " + ui.item.label :
            "Nothing selected, input was " + this.value, event);
            return false; // don't update the search field.
          },
          response: function (event, ui) {
            console.log ('do we ever get here?', event);
          }
          // note the spinner sometimes doesn't stop spinning
          // see http://stackoverflow.com/questions/2519513/spinner-with-jquery-ui-1-8-autocomplete
          // and http://stackoverflow.com/questions/4316071/remove-spinner-from-jquery-ui-autocomplete-if-nothing-found
        });
      });
    %title #{settings.name}
  %body
    #page
      #page-top
        #title
          #header-information
            -if logged_in?
              %div.ui-widget
                %div.ui-state-highlight.ui-corner-all{:style => 'padding:0 .7em'}
                  %p<
                    %span.ui-icon.ui-icon-info{:style => 'float: left; margin-right: .3em'}<
                    You are logged in as #{active_user.name}
              %div.ui-widget{:style => 'margin-top: 1em'}
                %div.ui-state-highlight.ui-corner-all{:style => 'padding:0 .7em'}
                  %p<
                    %span.ui-icon.ui-icon-search{:style => 'float: left; margin-right: .3em'}<
                      %form#search-form
                        %input#search-field{:type => 'text', :name => 'search', :placeholder => 'search text', :style => 'width:80%;'}
            -else
              %a{:href => "/login"}<
                %img.fb-login{:src => '/images/fb_login_button.png'}
            #nav-bar.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
              %ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all
                - for item in navigation
                  - selected = item[:selected]
                  - mods = "ui-state-default ui-corner-top#{selected ? ' ui-tabs-selected ui-state-active' : ''}"
                  %li{:class => mods}<
                    -if !selected
                      %a{:href => item[:href]}= item[:title]
                    -else
                      = item[:title]
          %span#logo-container<
            %img.logo{:width => 128, :height => 157,
                      :src => "/images/Open_Recipe_Logo_128x157.png",
                      :alt => "Open Recipe Logo."}
      #page-content.ui-helper-reset.ui-widget.ui-widget-content.ui-corner-all
        = yield
      - if logged_in?
        - tags = popular_tags
        - if tags.count > 0
          #tag-cloud.ui-helper-reset.ui-widget.ui-widget-content.ui-corner-all
            %h2 Tags
            %ul
              - for t in tags
                %li
                  - tcs = t[:counts]
                  - c_recipe = tcs[:recipes]
                  - c_meal = tcs[:meals]
                  - c_ingredient = tcs[:ingredients]
                  
                  - hover_text = "#{c_recipe == 0 ? 'No' : c_recipe} recipe#{c_recipe == 1 ? '' : 's'}, "
                  - hover_text << "#{c_meal == 0 ? 'No' : c_meal} meal#{c_meal == 1 ? '' : 's'}, "
                  - hover_text << "#{c_ingredient == 0 ? 'No' : c_ingredient} ingredient#{c_ingredient == 1 ? '' : 's'}."
                  %a.tag{:href => "#", :title => hover_text}<
                    #{t[:name]}
                    %span.tag-count #{t[:count]}
      #page-bottom.ui-helper-reset.ui-widget.ui-widget-content.ui-corner-all
        #copyright< ©2012 #{settings.owner}
        - if logged_in?
          %hr
          %p{:class=>'like_site'} Do you like this site?
          %p
            %iframe{:src => "http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fopen-recipe.herokuapp.com%2F&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80",
                    :scrolling => "no",
                    :frameborder => "0",
                    :style => "border:none; overflow:hidden; width:450px; height:30px;",
                    :allowTransparency => "true"}
