#new-recipe.edit-or-create-recipe
  %form
    %label(for = 'recipe-name')< #{UnicodeUtils::titlecase(t.ui.recipe_name)}:
    %input#recipe-name.ui-corner-all(placeholder = 'What do you call your recipe?')
    %label(for = "serves")< #{UnicodeUtils::titlecase(t.ui.serves)}:
    %input#serves.ui-corner-all(style='width:3em;')
    / %label.ui-state-disabled(for = "meal")< Meal Name:
    / %input#meal.ui-corner-all.ui-state-disabled{:disabled => 'disabled', :placeholder => 'not set'}
    %label(for='description')< #{UnicodeUtils::titlecase(t.ui.description)}:
    %textarea#description.ui-corner-all
    %label(for='prep-time')< #{UnicodeUtils::titlecase(t.ui.preparation_time)}:
    %input#prep-time-days.ui-corner-all{:style=>'width:2em;margin-right:1em;', :placeholder => 'dd'}
    %input#prep-time-hours.ui-corner-all{:style=>'width:2em;margin-right:1em;', :placeholder => 'hh'}
    %input#prep-time-minutes.ui-corner-all{:style=>'width:2em;', :placeholder => 'mm'}
    %label(for='cooking-time')< #{UnicodeUtils::titlecase(t.ui.cooking_time)}:
    %input#cooking-time-days.ui-corner-all{:style=>'width:2em;margin-right:1em;', :placeholder => 'dd'}
    %input#cooking-time-hours.ui-corner-all{:style=>'width:2em;margin-right:1em;', :placeholder => 'hh'}
    %input#cooking-time-minutes.ui-corner-all{:style=>'width:2em;', :placeholder => 'mm'}
    %label(for='requirements')< #{UnicodeUtils::titlecase(t.ui.requirements)}
    %textarea#requirements.ui-corner-all
    %label(for='ingredients')< #{UnicodeUtils::titlecase(t.ui.ingredients)}
    %table#ingredients
      %thead
        %tr
          %th< #{UnicodeUtils::titlecase(t.ui.ingredient_name)}
          %th< #{UnicodeUtils::titlecase(t.ui.amount)}
          %th< #{UnicodeUtils::titlecase(t.ui.unit)}
      %tbody
    %label(for='method')< #{UnicodeUtils::titlecase(t.ui.the_method)}
    %textarea#method.ui-corner-all
    %label(for='action-bar')< &nbsp;
    %span#action-bar.edit-or-create-recipe
      %input(type='submit' id='choose-photo')
      %input(type='submit' id='save-recipe')
      %input(type='submit' id='cancel')
:javascript
  var allowed_unit_options = #{allowed_units};
  var all_ingredient_names = #{ingredient_names}
  var default_allowed_unit_options = convert_to_options_html(allowed_unit_options);
  var recipe_id = 0;
  var button_names = {
    'choose-photo': "#{Unicode::capitalize(t.ui.choose_photo)}",
    'save-recipe': "#{UnicodeUtils::titlecase(t.ui.create_recipe)}",
    'cancel': "#{Unicode::capitalize(t.ui.cancel)}"
  }
%script(src='/scripts/recipe_form_handlers.js')
