#new-recipe.edit-or-create-recipe
  %form#recipe-form
    %input#recipe-name(placeholder = 'What do you call your recipe?')
    %input#serves(style='width:3em;')
    %textarea#description
    %input#prep-time{:size => "10", :maxlength => "10", :placeholder => '1d 11m 11m'}
    %input#cooking-time{:size => "10", :maxlength => "10", :placeholder => '1d 11h 11m'}
    %textarea#requirements
    %label(for='ingredients')< #{UnicodeUtils::titlecase(t.ui.ingredients)}
    %table#ingredients
      %thead
        %tr
          %th< #{UnicodeUtils::titlecase(t.ui.ingredient_name)}
          %th< #{UnicodeUtils::titlecase(t.ui.amount)}
          %th< #{UnicodeUtils::titlecase(t.ui.unit)}
      %tbody
    %textarea#the-method
    %label(for='action-bar')< &nbsp;
    %span#action-bar.edit-or-create-recipe
      %input#choose-photo.action-button(type='submit')
      %input#save-recipe.action-button(type='submit')
      %input#cancel.action-button.ui-priority-secondary(type='submit')
:javascript
  var allowed_unit_options = #{allowed_units};
  var all_ingredient_names = #{ingredient_names}
  var default_allowed_unit_options = convert_to_options_html(allowed_unit_options);
  var recipe_id = 0;
  var button_names = {
    'choose-photo': "#{Unicode::capitalize(t.ui.choose_photo)}",
    'save-recipe': "#{UnicodeUtils::titlecase(t.ui.create_recipe)}",
    'cancel': "#{Unicode::capitalize(t.ui.cancel)}"
  }

  var ingredient_name_autocompleter = {
    source: all_ingredient_names,
    change: function(){
      var this_row = $(this).parent().parent();
      if (this_row.is(':last-child')) {
        // add another row.
        var new_row_number = this_row.siblings('tr').length + 1;
        $(create_blank_ingredients_row(new_row_number)).appendTo(this_row.parent());
        var new_row = this_row.next();
        $(default_allowed_unit_options).appendTo(new_row.find('.unit-menu'));
        new_row.find('.ingredient').autocomplete(ingredient_name_autocompleter);
      }
    }
  };

  var field_names = {
    'recipe-name': "#{UnicodeUtils::titlecase(t.ui.recipe_name)}",
    'serves': "#{UnicodeUtils::titlecase(t.ui.serves)}",
    'description': "#{UnicodeUtils::titlecase(t.ui.description)}",
    'prep-time': "#{UnicodeUtils::titlecase(t.ui.preparation_time)}",
    'cooking-time': "#{UnicodeUtils::titlecase(t.ui.cooking_time)}",
    'ingredients': "#{UnicodeUtils::titlecase(t.ui.ingredients)}",
    'the-method': "#{UnicodeUtils::titlecase(t.ui.the_method)}",
    'ingredients': "#{UnicodeUtils::titlecase(t.ui.ingredients)}"
  }
:javascript
  $(function() {
    $.validator.setDefaults({
      submitHandler: function() { alert("submitted!"); },
      debug: true
    });
    // set up three ingredient rows, with appropriate Unit menus
    for (i = 0; i < 3; i++) {
      var i_row = $(create_blank_ingredients_row(i));
      i_row.appendTo('#ingredients tbody');
    }
    $(default_allowed_unit_options).appendTo('#ingredients .unit-menu');
    $('#ingredients .ingredient').autocomplete(ingredient_name_autocompleter);

  });
%script{:src => "/scripts/form_to_jquery_ui.js"}
%script{:src => "/scripts/recipe_form_handlers.js"}
:javascript
  $(function() {
    $("form#recipe-form").form();
    console.log("form:",$("form#recipe-form"));
  });
