%form#recipe-form.edit-or-create-recipe
  %input#recipe-name(placeholder = '#{t.ui.placeholder.recipe_name}')
  %input#serves(style='width:3em;')
  %textarea#description
  %input#prep-time{:size => "10", :maxlength => "10", :placeholder => t.ui.placeholder.duration, :style=>"width: auto;"}
  %input#cooking-time{:size => "10", :maxlength => "10", :placeholder => t.ui.placeholder.duration, :style=>"width: auto;"}
  %textarea#requirements
  %label(for='ingredients')< #{UnicodeUtils::titlecase(t.ui.ingredients)}
  %table#ingredients
    %thead
      %tr
        %th< #{UnicodeUtils::titlecase(t.ui.ingredient_name)}
        %th< #{UnicodeUtils::titlecase(t.ui.amount)}
        %th< #{UnicodeUtils::titlecase(t.ui.unit)}
    %tbody
  %textarea#the-method
  %label(for='action-bar')< &nbsp;
  %span#action-bar.edit-or-create-recipe
    %input#choose-photo.action-button(type='submit')
    %input#save-recipe.action-button(type='submit')
    %input#cancel.action-button(type='reset')
:javascript
  var allowed_unit_options = #{allowed_units};
  var all_ingredient_names = #{ingredient_names}
  var default_allowed_unit_options = convert_to_options_html(allowed_unit_options);
  var recipe_id = #{defined?(recipe) ? recipe.id : 0};
%script{:src => "/scripts/recipe_form_handlers.min.js"}
%script{:src => "/scripts/jquery.ui.form_sugar.min.js"}
:javascript
  $(function() {
    if (recipe_id !== 0) Recipe.populate('/recipe/' + recipe_id);
    $("form#recipe-form").form_sugar({
      buttons: {
        'choose-photo': {label: "#{UnicodeUtils::titlecase(t.ui.choose_photo)}", handler: button_handlers['choose-photo']},
        'save-recipe': {label: "#{UnicodeUtils::titlecase(defined?(recipe) ? t.ui.edit_recipe : t.ui.create_recipe)}", handler: button_handlers['save-recipe']},
        'cancel': {label: "#{UnicodeUtils::titlecase(t.ui.cancel)}", handler: button_handlers['cancel']}
      },

      fields: {
        'recipe-name': {
          label: "#{UnicodeUtils::titlecase(t.ui.recipe_name)}",
          validation: {
            required: true
          },
          messages: '#{t.errors.field.required}'
        },
        'serves': {
          label: "#{UnicodeUtils::titlecase(t.ui.serves)}",
          validation: {
            required: true,
            digits: true
          },
          messages: {
            required: '#{t.errors.field.required}',
            digits: '#{t.errors.field.integer}'
          }
        },
        'description': {label: "#{UnicodeUtils::titlecase(t.ui.description)}"},
        'prep-time': {
          label: "#{UnicodeUtils::titlecase(t.ui.preparation_time)}",
          validation: {
            duration: true
          },
          messages: "Invalid duration format."
        },
        'cooking-time': {
          label: "#{UnicodeUtils::titlecase(t.ui.cooking_time)}",
          validation: {
            duration: true
          },
          messages: "Invalid duration format."
        },
        'requirements': {label: "#{UnicodeUtils::titlecase(t.ui.requirements)}"},
        'the-method': {label: "#{UnicodeUtils::titlecase(t.ui.the_method)}"},
        'ingredients': {label: "#{UnicodeUtils::titlecase(t.ui.ingredients)}"}
      }
    });
  });
